@charset "utf-8";

/* 공통 */
body{
    letter-spacing: -0.3px;
    font-family: 'Noto Sans KR', sans-serif;
}
.inner{
    max-width: 1300px; 
    margin: 0 auto;
}


/* header */
header > .inner,
nav,
nav > ul,
.member{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header{
    width: 100%;
    height: 120px;
    line-height: 120px;
    position: absolute;
    z-index: 10;
}
h1 > a{
    width: 263px;
    height: 38px;
}
.nav{
    font-size: 16px;
    font-weight: 500;
}
.nav > li:not(:last-child){
    margin-right: 50px;
}
.member{
    height: 40px;
    padding: 0 20px;
    line-height: 37px;
    background: #fff;
    border-radius: 50px;
    margin-left: 10px;
}
.member > a{
    font-size: 14px;
    line-height: 14px;
    color: #666666;
}
.member > a:not(:last-child){
    margin-right: 30px;
}



/* main */
.mainBanner{
    position: relative;
    background-image: url(../img/main_visual.jpg);
    width: 100%;
    height: 690px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.loginWrap{
    position: absolute;
    left: 50%;
    margin-left: 180px;
    top: 150px;
    width: 420px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.05);
}
.loginBox{
    background: #fff;
    width: 420px;
    padding: 20px 30px;
    border-radius: 5px;
}
form > .tit1{
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 20px;
    text-align: center;
}
form > .tit2{
    font-size: 16px;
    color: #111111;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}
form > .id > input,
form > .pw > input{
    height: 50px;
    padding: 0 0 0 10px;
    background: #fbfbfb;
    border: 1px solid #dddddd;
    border-radius: 3px;
    width: 100%;
}
form > .pw > input{
    margin-bottom: 10px;
}
form > .txt{
    font-size: 14px;
    color: #666666;
    margin-bottom: 15px;
}
.btLogin{
    display: block;
    background: #424652;
    font-size: 16px;
    color: #fff;
    height: 50px;
    line-height: 47px;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 20px;
}
.link{
    text-align: center;
}
.link > a{
    font-size: 15px;
    line-height: 15px;
    color: #555555;
}
.link > a:first-child{
    margin-right: 30px;
    position: relative;
}
.link > a:first-child::after{
    content: '';
    position: absolute;
    right: -15px;
    top: 7px;
    width: 1px;
    height: 11px;
    background: #999999;
}


/* infoWrap */
.infoWrap{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
    background: url(../img/bgMain.png) center top repeat-x;
    color: #fff;
}
.infoWrap > .inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tabBase{
    width: 240px;
    background: #c2151e;
    height: 150px;
    text-align: center;
}
.tabBase > .tit01{
    font-size: 19px;
    font-weight: 700;
    color: #fff;
    line-height: 19px;
    padding: 21px 0 12px;
}
.tabBase > .btnDown{
    display: block;
    color: #fff;
    font-size: 14px;
    width: 200px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #fff;
    margin: 0 auto;
    margin-bottom: 10px;
}
.bigTit{
    width: 240px;
    padding: 40px 0 0 40px;
    text-align: left;
}
.bigTit > .txt{
    font-size: 19px;
    line-height: 19px;
    margin-bottom: 23px;
    font-weight: 700;
}
.info{
    margin-top: 13px;
}
.info > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info > ul > li{
    position: relative;
    width: 123px;
    height: 123px;
    border-radius: 50%;
    margin-left: 76px;
    border: 1px solid #6f83ab;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 76px;
}
.info > ul > li:first-child{
    margin-left: 0;
}
.info > ul > li > img{
    margin-bottom: 10px;
}
.info > ul > li > span::after{
    content: '';
    position: absolute;
    left: -46px;
    top: 50px;
    width: 12px;
    height: 22px;
    background: url(../img/arrIcon.png);
}
.info > ul > li:first-child > span::after{
    display: none;
}